/* Intro Section */
.intro-section {
  display: flex;
  align-items: center; /* Vertically centers content */
  justify-content: center; /* Horizontally centers content */
  min-height: 100vh; /* Full screen height */
  gap: 2rem; /* Space between the text and the picture */
  padding: 2rem;
  flex-wrap: wrap; /* Ensures content wraps on smaller screens */
  position: relative;
  z-index: 10;
}

.intro-section .intro-heading {
  color: #1f2b6c
}

.intro-section .intro-subheading {
  font-size: 25px;
  color: #1f2b6c
}

/* Profile Picture Container */
.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* Prevent shrinking of the image */
}

.profile-picture {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

/* Introductory Text Container */
.intro-text-container {
  max-width: 40rem;
  text-align: left; /* Align text to the left */
}

.intro-heading {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: #333;
  line-height: 1.2;
}

.highlighted-text {
  font-weight: bold;
}

.intro-subheading {
  font-size: 3rem;
  color: #333;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* Social Media Icons */
.social-media-icons {
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  font-size: 3rem;
  color: #0073b1;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #005582;
}

/* NEW: Scroll Indicator Container */
.scroll-indicator-container {
  position: absolute;
  bottom: -300px; /* Place it below the profile picture */
  left: 33%; /* Center it horizontally */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', 'Montserrat', sans-serif; /* Keeps a close match font */
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.3em;
  color: #b0b0b0; /* Light gray color */
  text-transform: uppercase;
  z-index: 30;
}

.scroll-text {
  font-size: 1.2rem;
  color: #babfbf;
  margin-bottom: 8px;
}

.scroll-line {
  width: 1px;
  height: 400px;
  background-color: #8d95b6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .intro-section {
    flex-direction: column; /* Stack the text and picture vertically */
    text-align: center;
  }

  .intro-text-container {
    text-align: center; /* Center-align text on smaller screens */
  }
}
