/* Projects.css */

/* Global Section Styles */
.projects-section {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: #f4f9fc;
  max-width: 1200px;
  margin: auto;
}

/* Center the heading container */
.projects-heading-container {
  width: 100%;
  text-align: left;
}

.projects-heading {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #1f2b6c;
  margin-top: 200px;
  position: relative;
}

.projects-header-line {
  width: calc(100% - 0.3rem);
  height: 3px;
  background-color: #74bcc4;
  position: absolute;
  bottom: -15px;
  left: 0;
  max-width: 6.5rem;
}

/* Adjust heading container on small screens */
@media (max-width: 768px) {
  .projects-heading-container {
    max-width: 90%;
    margin: 0 auto;
  }
  .projects-heading {
    margin-top: 150px;
  }
}

.projects-content {
  margin-top: 1rem;
}

/* Project content container styles */
.project-content-container {
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

.project-card {
  margin-bottom: 3rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
}

/* Individual Project Cards */
.movies-watchlist-card,
.travel-log-card,
.purehealth-card {
  margin: 2rem auto;
  padding: 0;
  position: relative;
}

/* Project Info */
.project-info {
  margin: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 1000px;
  width: 96%;
}

@media (max-width: 768px) {
  .project-info {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

/* Specific styles for each project */

/* Movies Watchlist Styles */
.movies-watchlist-carousel-container {
  /* Your styles here */
}

.movies-watchlist-carousel-image {
  /* Your styles here */
}

.movies-watchlist-title {
  /* You can adjust font-size, color, etc. */
}

.movies-watchlist-description {
  /* Adjust description styles if needed */
}

.movies-watchlist-button {
  /* Adjust button styles if needed */
}

/* Travel Log Styles */
.travel-log-carousel-container {
  /* Your styles here */
}

.travel-log-carousel-image {
  /* Your styles here */
}

.travel-log-title {
  /* You can adjust font-size, color, etc. */
}

.travel-log-description {
  /* Adjust description styles if needed */
}

.travel-log-button {
  /* Adjust button styles if needed */
}

/* PureHealth Styles */
.purehealth-carousel-container {
  /* Your styles here */
}

.purehealth-carousel-image {
  /* Your styles here */
}

.purehealth-title {
  /* You can adjust font-size, color, etc. */
}

.purehealth-description {
  /* Adjust description styles if needed */
}

.purehealth-button {
  /* Adjust button styles if needed */
}

/* Project Title */
.project-title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
  margin-top: 0;
}

/* Project Description */
.project-description {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.7;
  text-align: left;
  max-width: 100%;
}

/* Buttons */
.synthwave-button {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #6a00f4;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #6a00f4;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    #d3e4ff 25%,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0) 50%,
    #d3e4ff 50%,
    #d3e4ff 75%,
    rgba(255, 255, 255, 0) 75%
  );
  background-size: 15px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 10px rgba(106, 0, 244, 0.5);
  transition: all 0.3s ease;
  margin-top: 30px;
}

.synthwave-button:hover {
  background: #d3e4ff;
  color: #6a00f4;
  box-shadow: 0 6px 15px rgba(106, 0, 244, 0.7);
  transform: scale(1.05);
}

/* Carousel and Info Container */
.carousel-and-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0;
}

@media (max-width: 768px) {
  .carousel-and-info {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
  }
}

.carousel-container,
.video-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .carousel-container,
  .video-container {
    width: 100%;
  }
}

.carousel-image,
.video-placeholder {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-image {
  margin-top: 1.0rem;
  margin-bottom: 0rem;
}

/* Carousel Controls */
.carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.carousel-arrow {
  font-size: 2rem;
  color: #1f2b6c;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  margin: 0 1rem;
  padding: 0.5rem;
}

.carousel-arrow:hover {
  color: #74bcc4;
}

@media (max-width: 768px) {
  .carousel-arrow {
    font-size: 2.5rem;
  }
}

/* Project Separator */
.project-separator {
  width: 100%;
  height: 1.5px;
  background-color: #8d95b6;
  margin: 2rem 0;
}

/* Hide separator lines below 650px width */
@media (max-width: 650px) {
  .project-separator {
    display: none;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .projects-heading {
    font-size: 3rem;
  }

  .project-title {
    font-size: 2rem;
  }

  .project-description {
    font-size: 1rem;
  }

  .synthwave-button {
    font-size: 1rem;
    padding: 8px 16px;
  }

  /* Add margin-top to Travel Log carousel-container */
  .travel-log-carousel { 
    margin-top: 50px; 
  }

  /* Add margin-top to PureHealth carousel-container */
  .purehealth-carousel { 
    margin-top: 50px; 
  }

  /* Add space below PureHealth image */
  .purehealth-carousel-image { 
    margin-bottom: 35px; 
  }
}

