/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Ensure the body spans the full content height */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f4f9fc; /* NEW: Set background color */
  color: #1f2b6c; /* NEW: Set default text color */
}
